<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="globalsettings">
			<section name="database" type="System.Configuration.NameValueSectionHandler, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
			<section name="logging" type="System.Configuration.NameValueSectionHandler, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
			<section name="manager" type="System.Configuration.NameValueSectionHandler, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
			<section name="ctiserver" type="System.Configuration.NameValueSectionHandler, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
		</sectionGroup>
	</configSections>
	<globalsettings>
		<database>
			<add key="MYSQL_HOST" value="127.0.0.1" />
			<add key="MYSQL_USER" value="cti" />
			<add key="MYSQL_PASS" value="cti" />
			<add key="MYSQL_DBMS" value="cti" />
			<add key="MYSQL_TIMEOUT" value="30" />
		</database>
		<logging>
			<!--
				Logging can have the following values
				Info = 0x1
				Notice = 0x2
				Warning = 0x4
				Error = 0x8
				Fatal = 0x10	
				Debug = 0x20
				DebugSocket = 0x40
				EXample:
				INFO + ERROR = 0x1 | 0x4 = 0x5 = 5
			//-->
			<add key="ACTIVE" value="false"/>
			<add key="DIRECTORY" value="{APPLICATION_DIR}{FILE_SEPARATOR}logs{FILE_SEPARATOR}"/>
			<!-- <add key="LOG_LEVEL" value="63"/> -->
			<add key="LOG_LEVEL" value="255"/>
		</logging>
		<manager>
			<add key="SOCKET_TIMEOUT" value="120" />
			<add key="MANAGER_HOST" value="127.0.0.1"/>
			<add key="MANAGER_PORT" value="5038" />
			<add key="MANAGER_USER" value="ctimanager" />
			<add key="MANAGER_PASS" value="ctimanager" />
		</manager>
		<ctiserver>
			<add key="CTI_CLIENT_TIMEOUT" value="60" />
			<add key="CTI_CLIENT_KEEPALIVE" value="30" />
			<add key="CTI_SERVER_LISTEN_IP" value="127.0.0.1" />
			<add key="CTI_SERVER_LISTEN_PORT" value="8999" />
		</ctiserver>
	</globalsettings>
</configuration>
